// ================= VARIABLES =================

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// mixins
@mixin responsive($breakpoint, $type: max) {
  $size: map-get($breakpoints, $breakpoint);

  @if $size != null {
    @if $type == max {
      @media (min-width: #{$size}) {
        @content;
      }
    }
  }
}
